.home{
    padding-top: 212px;
    .section1,.section2,.section3,.section4,.section5,.landingpage{
        width: 100%;
        height: 100vh;
    }

    .image{
        width: 100%;
    }

    p{
        margin-bottom: 0px;
        font-size: 18px;
    }

    .title{
        p{
            font-size: 22px;
            letter-spacing: 7px;
        }    
    }

    .landingpage{
        display: flex;
        img{
            width: 100%;
        }   
            .landingpage-left{
                width: 60%;
            }
            .landingpage-right{
                width: 40%;
                padding-left: 220px;
                padding-top: 106px;
                .Right-Section-Tools{
                    display: flex;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    align-items: center;
                    p{
                        font-size: 14px;
                        margin: unset;
                        letter-spacing: 7px;
                        color: black;
                    }
                    .Menu-Content-Tools{
                        display: inline-flex;
                        align-items: center;
                        padding: 10px 20px;
                        .Plus1{
                            position: absolute;
                            width: 15px;
                            height: 2px;
                            background-color: black;
                            border-radius: 5px;
                            margin: 0px;
                        }
                        .Plus2{
                            transform: rotate(0deg);
                            width: 15px;
                            height: 2px;
                            background-color: black;
                            border-radius: 5px;
                            transition: 0.8s;
                        }
                        
                        .Plus2.actived{
                            transform: rotate(90deg);
                            height: 2px;
                            position: absolute;
                            margin: 0px;
                    }
                }
            }

            .Menu-Content{
                p{
                    padding-top: 20px;
                    font-family: Helvetica;
                    font-weight: 400;
                    font-size: 14px;
                    padding-left: 45px;
                }
            }
            .Menu-Content.collapsing {
                -webkit-transition-delay: 0.6s;
                transition-delay: 0.8s;
                transition: height 0.8s ;
              }
       
        
        }
    }

    .section1{
        display: flex;
        padding: 0px 94px;
        .contentsec1{
            display: flex;
            .sec1-left{
                width: 50%;
                padding-right: 20px;
            }
            .sec1-right{
                width: 50%;
                padding-left: 20px;
                padding-top: 70px;
            }
        }   
    }
    
    .section2{
        display: flex;
        padding: 0px 94px;
        .contentsec2{
            display: flex;
            .sec2-left{
                width: 50%;
                padding-right: 20px;
                padding-top: 70px;
            }
            .sec2-right{
                width: 50%;
                padding-left: 20px;
            }
        }
    }

    .section3{
        display: flex;
        padding: 0px 94px;
        .contentsec3{
            display: flex;
            .sec3-left{
                width: 50%;
                padding-right: 20px;
            }
            .sec3-right{
                width: 50%;
                padding-left: 20px;
                padding-top: 70px;
            }
        }
    }

    .section4{
        padding-top: 212px;
        .contentsec4{
            .sec4-left{
                text-align: center;
            }
            .sec4-right{
                text-align: center;
            }
        }
    }

    .section5{
        justify-content: center;
        display: flex;
        padding-top: 212px;
        padding-bottom: 202px;
        letter-spacing: 7px;
        .contentsec5{
            .contact{
                text-align: center;
                margin-bottom: 50px;
                p{
                    font-size: 22px;
                }
            }
            .content{
                font-size: 18px;
                width: 70rem;
                display: flex;
                justify-content: space-between;
                p{
                    font-size: 16px;
                }
            }
            .contentmobile{
                visibility: hidden;
                font-size: 18px;
                width: 70rem;
                display: flex;
                justify-content: space-between;
                p{
                    font-size: 16px;
                }
            } 
        }      
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
    .home{
        .landingpage{
            height: auto;
                .landingpage-left{
                    width: 100%;
                }
                .landingpage-right{
                    padding-left: unset;
                    visibility: hidden;
                }    
        }
        .section1{
            padding: unset;
            height: auto;
            margin-bottom: 60px;
            .contentsec1{
                padding: 0px 20px;
                flex-direction: column;
                .sec1-left{
                    width: 100%;
                    padding-right: unset;
                }
                .sec1-right{
                    width: 100%;
                    padding-left: unset;
                    padding-top: unset;
                    margin-top: 24px;
                }
            }
        }
        .section2{
            padding: unset;
            height: auto;
            margin-bottom: 60px;
            .contentsec2{
                padding: 0px 20px;
                flex-direction: column-reverse;
                .sec2-left{
                    width: 100%;
                    padding-right: unset;
                    padding-top: unset;
                    margin-top: 24px;
                }
                .sec2-right{
                    width: 100%;
                    padding-left: unset;
                }
            }
        }
        .section3{
            padding: unset;
            height: auto;
            .contentsec3{
                padding: 0px 20px;
                flex-direction: column;
                .sec3-left{
                    width: 100%;
                    padding-right: unset;
                }
                .sec3-right{
                    width: 100%;
                    padding-left: unset;
                    padding-top: unset;
                    margin-top: 24px;
                }
            }
        }
        .section4{
            height: auto;
            padding-top: unset;
            margin-top: 98px;
            .contentsec4{
                padding: 0px 20px;
                img{
                    width: 100%;
                }
            }
        }
        .section5{
            padding-top: unset;
            margin-top: 98px;
            padding-bottom: unset;
            margin-bottom: 98px;
            height: auto;
            .contentsec5{
                .contact{
                    margin-bottom: 0px;
                }
                .content{
                    visibility: hidden;
                    width: unset;
                }
                .contentmobile{
                    visibility: visible;
                    width: 100%;
                    padding: 0px 20px;
                    flex-direction: column;
                    text-align: center;
                    line-height: 24px;
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}