.Nav-Header{
    position: fixed;
    padding-top: 44px;
    height: 20px;
    width: 100%;
    z-index: 1056;
    .Nav-Container{
        .Nav-Logo{
            display: flex;
            align-items: center;
            .Nav-Title{
                mix-blend-mode: difference;
                margin-left: 17px;
                font-size: 32px;
                margin-bottom: 0;
                letter-spacing: 6px;
                color: #3C3C3B;
            }
            .Nav-Title.actived{
                color: white;
            }
            .Logo{
                height: 100%;
            }
        }
        display: flex;
        position: relative;
        justify-content: space-between;
        height: 100px;
        width: 100%;
        margin: 0 auto;
        padding: 0 44px;
        background-color:transparent;
        .Nav-Hamburger{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            .Hamburger-btn{

                width: 114px;
                height: 3px;
                background-color: #3C3C3B;
                border-radius: 5px;
                margin-bottom: 10px;
                transition: 0.6s;
            }
            .Hamburger-btn-2{
                
                justify-content: end;
                width: 67px;
                height: 3px;
                background-color: #3C3C3B;
                border-radius: 5px;
                transition: 0.6s;
            }
            .Hamburger-btn.active{
                transform: rotate(45deg);
                background-color: white;
                width: 67px !important;
                margin: 0px !important;
            }
            .Hamburger-btn-2.active{
                background-color: white;
                transform: rotate(-45deg);
                position: absolute;
            }
        }
    }
}

    .modal-dialog{
        max-width: none !important;
        margin: unset !important;
        .modal-content{
            mix-blend-mode: difference;
            background-clip: unset;
            border: none;
            border-radius: unset;
            height: 100vh;
            background-color: #0E4F79;
            color: white;
            .modal-body{
                .Nav-Container{
                    padding: 260px 137px 0px 120px;
                    display: flex;
                    justify-content: space-between;
                    .Left-Section{
                        display: flex;
                        flex-direction: column;
                        .Left-Section-Tools{
                            display: flex;
                            p{
                                font-size: 24px;
                                margin: unset;
                                letter-spacing: 10px;
                            }
                            .Menu-Content-Tools{
                                display: inline-flex;
                                align-items: center;
                                padding: 10px 20px;
                                .Plus1{
                                    position: absolute;
                                    width: 15px;
                                    height: 2px;
                                    background-color: white;
                                    border-radius: 5px;
                                    transition: 0.6s;
                                    margin: 0px;
                                }
                                .Plus2{
                                    transform: rotate(90deg);
                                    width: 15px;
                                    height: 2px;
                                    background-color: white;
                                    border-radius: 5px;
                                    transition: 0.6s;
                                }
                                .Plus2.actived{
                                    transform: rotate(0deg);
                                    height: 0px;
                                    position: absolute;
                                    margin: 0px;
                                }
                            }
                       
                        }

                        .Menu-Content{
                            padding-top: 10px;
                            p{
                                font-size: 24px;
                                padding-left: 25px;
                            }
                        }
                        
                    }
                    .Right-Section{
                        p{
                            letter-spacing: 10px;
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }


