@font-face {
  font-family: 'Planta';
  src: local('Planta'), url(./Fonts/Plantagenet_Cherokee.woff) format('woff');
}
body {
  margin: 0;
  font-family: Planta !important;
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
