@font-face {
  font-family: 'Planta';
  src: local('Planta'), url(./Fonts/Plantagenet_Cherokee.woff) format('woff');
}
body {
  margin: 0;
  font-family: Planta !important;
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}
@media (min-width: 768px) {
  ::-webkit-scrollbar{
    background: transparent;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: transparent;
    transition: 0.2s;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: lightgray;
    border-radius: 20px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth!important;
}